In [ ]:
m= 0
for contador in range(5):
  numero= int(input("Digite um numero"))
  if numero > m:
    m = numero

print(m)

In [ ]:
for contador in range(1000 , 2001):
  if contador % 11 ==2:
    print(contador)

In [ ]:
soma= 0
for i in range(5):
  numero= float(input(f"Digite 0{i+1}°numero: "))
  soma += numero
  media = soma/5

print(f"A soma dos numeros é:{soma}")
print(f"A soma dos numeros é:{media}")

In [ ]:
numero= int(input("Digite um numero"))
for contador in range(1 , 11):
  resultado = numero * contador
  print(f"{numero}*{contador}={resultado}")

In [ ]:
for n1 in range(1 , 11):
  for n2 in range(1 , 11):
    print(f"{n1}*{n2}={n1 * n2}")

In [ ]:
for contador in range(1, 21):
  print(contador)

print(list(range(1 , 21)))

In [ ]:
for i in range(1 , 52):
  if i % 2 != 0:
    print(i)

In [ ]:
n1= int(input("Digite um primeiro numero inteiro"))
n2= int(input("Digite um segundo numero inteiro"))
for i in range(n1+1 , n2):
  print(i)

In [ ]:
loja1= 0
loja2= 0

for i in range(5):
  valor= int(input("Digite um valor"))

loja1 += valor
if loja1 > loja2:
 print("Loja1 foi superior a loja2")
elif loja2 > loja1:
  print("Loja2 continua sendo supeior")

In [ ]:
par= 0
impar= 0

for i in range(10):
  i= int(input("Digite um numero"))
  if i % 2 !=0:
    impar += 1
  if i % 2 ==0:
    par += 1
  print(f"numero impares{impar} , numeros pares {par}")

In [42]:
salario= float(input("Digite o salario inicial do funcionario"))
porcentual= 0.015

for i in range(1986 , 2025):
  aumento= salario * porcentual
  salario += aumento
  porcentual *= 2
  print(f"Salario em {i} = {salario:.2f}")

Digite o salario inicial do funcionario33
Salario em 1986 = 33.49
Salario em 1987 = 34.50
Salario em 1988 = 36.57
Salario em 1989 = 40.96
Salario em 1990 = 50.79
Salario em 1991 = 75.17
Salario em 1992 = 147.33
Salario em 1993 = 430.19
Salario em 1994 = 2082.13
Salario em 1995 = 18072.93
Salario em 1996 = 295673.09
Salario em 1997 = 9378750.51
Salario em 1998 = 585609181.65
Salario em 1999 = 72545265422.95
Salario em 2000 = 17901269695766.89
Salario em 2001 = 8816733350559107.00
Salario em 2002 = 8676018286284182528.00
Salario em 2003 = 17066422050583889313792.00
Salario em 2004 = 67124968552474528544980992.00
Salario em 2005 = 527959357655148981452779028480.00
Salario em 2006 = 8304610630546737381157110011658240.00
Salario em 2007 = 261248766506715784334373903923134070784.00
Salario em 2008 = 16436612444079265171762006866857342328111104.00
Salario em 2009 = 2068220916231987348027177296797722031421776723968.00
Salario em 2010 = 520486903931045624197323715585561952131338223120023552.00
Salario em 2011 = 261970156859575970376174299460100022760070797749303679909888.00
Salario em 2012 = 263708056401376101807184552507389148224634388769910125517441335296.00
Salario em 2013 = 530914706490384765670452789887191147572476567929481376317697875138052096.00
Salario em 2014 = 2137745500922495201178992722717736116395040176540928133043104373288092989128704.00
Salario em 2015 = 17215402788307852438811317351068850005755302639695858385615483360441528518597425496064.00
Salario em 2016 = 277273487077588136465383023584292395706369478727835949927719849235594115916106001292921405440.00
Salario em 2017 = 8931604470119384384143311687804561275728641963520321484608057237334176044738433054849454659533275136.00
Salario em 2018 = 575414245431156968225614561574936874838721769937144293882095767778567327374886316505663136733212511712575488.00
Salario em 2019 = 74141561548794340140156153557548624699588057049949581192607437375509629505348264338062793652358535519512130152824832.00
Salario em 2020 = 19106135001728128381088075351533696073306126718065915253713326166603882462563947234292248633818769973111332709387701130887168.00
Salario em 2021 = 9847227017352120367197293528480202399033790551106358851859173685748855356479357111462744984255951009555199414615060566666051403644928.00
Salario em 2022 = 10150444328842822359611950569049879737104265973017636563846782769616266296254526612541799116596507827504814290463760819610721924122620354101248.00
Salario em 2023 = 20925996697629768728259350509805599859581124368988689316383779602439987005262254352752699339284731162433145230751959313626947110229618806114001660936192.00
Salario em 2024 = 86281412615348886699949455925166879865730824881348235224216024909321010587949855047219726321895779450794406540039854224393754577223662006062627783077436820815872.00

In [29]:
for i in range(9999):
  nota= int(input("Digite o valor de 0 a 10"))
  print("Nota valida")
  break
else:
  print("Nota invalida, dgite uma nota de 0 a 10")

Digite o valor de 0 a 104
Nota valida

In [27]:
valor= float(input("Digite o valor da compra: "))
contagem=  1

if valor >= 600 and contagem:
   reduzido= valor - 500
   if reduzido >= 100 or contagem <= 24:
    for x in range(9999):
      contagem += 1
      reduzido -= 1
      if reduzido < 100 or contagem == 24:
        break

porcentagem= contagem/100
desconto=  valor * porcentagem
final= valor - desconto
print(f"O desconto de r${valor:.2f} ficara a partir de r${final} com {contagem:.0f}% de desconto")

Digite o valor da compra: 777
O desconto de r$777.00 ficara a partir de r$590.52 com 24% de desconto

In [ ]:
ate15=0
de16a30=0
de31a45=0
de46a60=0
acimados61=0


for i in range(15):
 idade= int(input("digite sua idade"))
 if idade <=15:
  ate15 += 1
 elif idade <=30:
  de16a30 += 1
 elif idade <=45:
  de31a45 += 1
 elif idade <=60:
  de46a60 += 1
 else:
  acimados61 += 1

totaldepessoas= ate15 + de16a30 + de31a45 + de46a60 + acimados61

porcentagemdeate15= (ate15/totaldepessoas)*100
porcentagemacimados61= (acimados61/totaldepessoas)*100

print(f"Pessoas com até 15 anos: {ate15} , pessoa com de 16 a 30 anos: {de16a30} ,pessoas de 31 a 45 {de31a45}, Pessoa com 46 a 60 anos: {de46a60} ,  Pessoa com mas de 61 anos: {acimados61} ")
print(f"porcentagem das pessoa com até 15:{porcentagemdeate15}% , porcentagem de pessoas acima de 61:{porcentagemacimados61}%")

In [34]:
base= float(input("Digite o numero base: "))
expoente= int(input("Digite o expoente: "))

resultado= 1

for contador in range(expoente):
  resultado *=base
print(f"O resultado é de {base} elevado a {expoente} é:" , resultado)

Digite o numero base: 25
Digite o expoente: 5
O resultado é de 25.0 elevado a 5 é: 9765625.0

In [ ]:
n= int(input("Digite um numero: "))

for numerotestado in range(1 , n+1):
  for numerodivisor in range(numerotestado):
    print(f"{numerotestado}/{numerodivisor+1} = {numerotestado%(numerodivisor+1)}")
    if numerotestado % (numerodivisor+1) == 0:
     if 1 != numerodivisor+1 != numerotestado:
      print("Não é da minha tia")
      break
    elif numerodivisor+1 == numerotestado:
      print("é primo")